{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href={% static "css/style.css" %}>
  <title>Processo Seletivo</title>
</head>
<body>
  <header>
    <img src={% static "img/Supergrafico_Roxo.jpg" %} alt="Supergrafic" id="Supergrafic">
    <div class="container-fluid">

      <div class="subHeader">
        <div>
          <img src={% static "img/Bosch_UVA.svg" %} alt="">
        </div>
    </div>

    </div>
  </header>

  <section>
    <div class="container" id="div-prova">
      <div class="sub-header">
        <div>
          <h2>Candidato: {{ candidato.nome }}</h2>
          <h2>Curso: {{ prova.curso }}</h2>  
        </div>

        <div class="div-time">
          <img src={% static "img/alarm-clock.png" %} alt="" id="time-clock">
          <label for="time-clock">00:00</label>
        </div>
      </div>

      <form method="POST" action={% url "candidato_prova" prova.id %} id="form-prova">
        {% csrf_token %}
        {% for questao in questoes %}
        <h3>Questão {{ forloop.counter }}</h2>
          <div>
            <h3>{{ questao.texto_questao }}</h3>
          </div>
          <div class="div-respostas">
            <div class="input-label">
                <input type="radio" name="resposta_{{ questao.id }}" id="A_{{ questao.id }}" value="A" required>
                <h2>A</h2>
                <label for="A_{{ questao.id }}">{{ questao.opcao_a }}</label>
            </div>

            <div class="input-label">
                <input type="radio" name="resposta_{{ questao.id }}" id="B_{{ questao.id }}" value="B" required>
                <h2>B</h2>
                <label for="B_{{ questao.id }}">{{ questao.opcao_b }}</label>
            </div>

            <div class="input-label">
                <input type="radio" name="resposta_{{ questao.id }}" id="C_{{ questao.id }}" value="C" required>
                <h2>C</h2>
                <label for="C_{{ questao.id }}">{{ questao.opcao_c }}</label>
            </div>

            <div class="input-label">
                <input type="radio" name="resposta_{{ questao.id }}" id="D_{{ questao.id }}" value="D" required>
                <h2>D</h2>
                <label for="D_{{ questao.id }}">{{ questao.opcao_d }}</label>
            </div>

            <div class="input-label">
                <input type="radio" name="resposta_{{ questao.id }}" id="E_{{ questao.id }}" value="E" required>
                <h2>E</h2>
                <label for="E_{{ questao.id }}">{{ questao.opcao_e }}</label>
            </div>
          </div>
        {% endfor %}
        <button type="submit" class="enviar-prova">Enviar</button>
      </form>
    </div>
  </section>
</body>
</html>
