<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Index</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Questões</h1>
    <table border=1>
        <thead>
            <tr>
                <th>Matéria</th>
                <th>Dificuldade</th>
            </tr>
        </thead>
        <tbody>
            {% for questao in questoes %}
            <tr>
                <td>{{ questao.materia }}</td>
                <td>{{ questao.dificuldade }}</td>
                <td><a href="{% url 'editar_questao' questao.id %}">Editar</a></td>
                <td><a href="{% url 'deletar_questao' questao.id %}">Deletar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>